@import "src/styles/variables";

.favoriteMovieItem {
    margin: 20px 0;
    padding: 0 40px;
    width: 900px;
    display: flex;
    align-items: center;

    @media (max-width: 900px) {
        flex-direction: column;
        text-align: center;
        padding: 0;
        width: 40vw;
        height: 65vw;
        margin: 0;
    }

    @media (max-width: 750px) {
        height: min-content;
        width: 100%;
    }

    img {
        border-radius: 5px;
        width: 120px;

        @media (max-width: 900px) {
            width: 30vw;
        }
        
        @media (max-width: 750px) {
            width: 230px;
        }
    }

    .movieInfo {
        margin: 0 20px;
        
        @media (max-width: 900px) {
            margin-top: 15px;

            .altName {
                display: none;
            }
        }

        .name {
            font-size: $font-large;
            margin-bottom: 10px;

            @media (max-width: 900px) {
                font-size: $font-regular;
            }

            @media (max-width: 750px) {
                font-size: $font-small;
            }
        }

        .yearGenres {
            font-size: $font-small;
            font-weight: 200;
        }
    }

    .favoriteMovieBtns {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        -moz-user-select: none;
        -khtml-user-select: none;
        user-select: none;
        font-size: $font-small;

        @media (max-width: 900px) {
            width: 100%;
            flex-direction: row;
            justify-content: center;
            margin: 15px 0;
        }

        .kinopoiskLinkBtn {
            display: flex;
            align-items: center;
            gap: 3px;
            padding: 10px 20px;
            text-decoration: none;
            color: $gray;
            border-bottom: 1px solid;
            transition: 0.2s ease;
            min-width: 214px;
            height: 46px;
            cursor: pointer;

            &:hover {
                -webkit-box-shadow: 0 10px 10px -10px rgba(21,6,5,1);
                -moz-box-shadow: 0 10px 10px -10px rgba(21,6,5,1);
                box-shadow: 0 10px 10px -10px rgba(21,6,5,1);
            }

            @media (max-width: 900px) {
                padding: 15px;
                min-width: 35px;
                height: 35px;
            }
        }

        .deleteBtn {
            display: flex;
            align-items: center;
            padding: 10px 20px;
            min-width: 214px;
            height: 46px;
            font-size: $font-small;
            color: $gray;
            gap: 7px;
            cursor: pointer;
            border-bottom: 1px solid;
            transition: 0.2s ease;

            &:hover {
                -webkit-box-shadow: 0 10px 10px -10px rgba(21,6,5,1);
                -moz-box-shadow: 0 10px 10px -10px rgba(21,6,5,1);
                box-shadow: 0 10px 10px -10px rgba(21,6,5,1);
            }

            @media (max-width: 900px) {
                padding: 15px;
                min-width: 35px;
                height: 35px;
            }
        }
    }
}