$black: #1d1d20;
$gray: #27272b;
$light-white: #ffffff;
$white: #ececec;
$light-gray: #c5c5c5;
$dark-green: #1e725d;
$dark-green-hover: #165b4a;

$font: 'Oswald', sans-serif;
$font-small: 16px;
$font-regular: 19px;
$font-large: 25px;