@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
@import "variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font;
    letter-spacing: 0.03em;
    text-decoration: none;

}

body {
    background-color: $white;
    color: $gray;
    font-size: $font-regular;
    height: 100%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: $dark-green;

    @media (hover: none) {
        display: none;
    }
}

::-webkit-scrollbar-thumb {
    background: $white;
    border: 2px solid $dark-green;
    border-radius: 5px;
}

::selection {
    background: $dark-green;
}
::-moz-selection {
    background: $dark-green;
}

.transition-enter {
    opacity: 0;
    transform: scale(0.8);

    &-active {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 0.3s, transform 0.3s;
    }
}

.transition-exit {
    opacity: 1;

    &-active {
        opacity: 0;
        transform: scale(0.8);
        transition: opacity 0.3s, transform 0.3s;
    }
}

.barOpenTransition-enter {
    transform: translateY(-200%);

    &-active {
        transform: translateX(0);
        transition: transform 0.3s;
    }
}

.barOpenTransition-exit {
    transform: translateY(-200%);

    &-active {
        transform: translateX(0);
        transition: transform 0.3s;
    }
}

.appBody {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .contentBody {
        flex: 1;
    }
}

.mainPage {
    font-size: $font-small;
    margin: 67px 0 20px;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;

    &>div {
        width: 900px;
        display: flex;

        @media (max-width: 950px) {
            width: 80%;
        }

        @media (max-width: 600px) {
            width: 90%;
            font-size: $font-extra-small;
        }
    }

    &Link {
        color: $gray;

        h2 {
            padding: 0 10px;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

.moviesPage {
    margin: 67px 0 10px;
    padding: 35px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;

    &>h1 {
        font-size: $font-large;

        @media (max-width: 600px) {
            font-size: $font-regular;
        }
    }

    .movieItems {
        width: 100vw;
        padding: 35px 0;
        display: grid;
        grid: {
            template-columns: repeat(4, 240px);
            auto-rows: 355px;
        }
        gap: 15px;
        justify-content: center;

        @media (max-width: 1150px) {
            grid-template-columns: repeat(3, 240px);
        }

        @media (max-width: 850px) {
            grid-template-columns: repeat(2, 240px);
        }

        @media (max-width: 600px) {
            grid-template-columns: repeat(2, 40vw);
            grid-auto-rows: 60vw;
        }
    }

    .nextPage {
        text-align: center;
        margin-bottom: 20px;
        min-width: 200px;
        height: 40px;
        font-size: $font-small;
        color: $gray;
        cursor: pointer;
        border-bottom: 1px solid;
        transition: 0.2s ease;

        &:hover {
            -webkit-box-shadow: 0 10px 10px -10px rgba(21,6,5,1);
            -moz-box-shadow: 0 10px 10px -10px rgba(21,6,5,1);
            box-shadow: 0 10px 10px -10px rgba(21,6,5,1);
        }

        @media (max-width: 600px) {
            font-size: $font-extra-small;
        }
    }

}


.favoritesPage {
    position: relative;
    margin: 67px 0 0;
    padding: 30px 0;
    width: 100vw;
    min-height: calc(100vh - 147px);
    display: flex;
    flex-direction: column;
    align-items: center;

    #{&}Title {
        text-align: center;
        margin-bottom: 20px;

        @media (max-width: 900px) {
            font-size: $font-large;
        }
    }

    .emptyLabel {
        position: absolute;
        top: 30%;
        text-align: center;
        font-weight: 200;
    }

    .favoritesPageElements {
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 900px) {
            display: grid;
            grid: {
                template-columns: repeat(2, 40vw);
                auto-rows: 65vw;
            }
            row-gap: 25px;
            justify-items: center;
            justify-content: center;
            align-items: baseline;
        }

        @media (max-width: 750px) {
            display: flex;
            align-items: center;
        }
    }
}

.moviePage {
    margin: 67px 0 20px;
    padding: 30px 0;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.loader {
    margin: 2px 0 21px;
    height: 36px;
    width: 36px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='36' height='36'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 3a9 9 0 0 1 9 9h-2a7 7 0 0 0-7-7V3z'/%3E%3C/svg%3E");
    -webkit-animation: loading 1s linear infinite;
    -o-animation: loading 1s linear infinite;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(1turn);
    }
}
