@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.03em;
}

body {
  background-color: #ececec;
  color: #27272b;
  overflow: hidden;
  font-size: 19px;
}

hr {
  border: 1px solid #1e725d;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #1e725d;
  border: 2px solid #ececec;
  border-radius: 5px;
}

::selection {
  background: #1e725d;
}

::-moz-selection {
  background: #1e725d;
}

header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e725d;
  color: #ececec;
  font-size: 25px;
  -webkit-box-shadow: 0 2px 10px -5px rgb(21, 6, 5);
  -moz-box-shadow: 0 2px 10px -5px rgb(21, 6, 5);
  box-shadow: 0 2px 10px -5px rgb(21, 6, 5);
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
header .header-menu {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
}
header .header-menu .transition-enter {
  opacity: 0;
  transform: scale(0.8);
}
header .header-menu .transition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.3s, transform 0.3s;
}
header .header-menu .transition-exit {
  opacity: 1;
}
header .header-menu .transition-exit-active {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.3s, transform 0.3s;
}
header .header-menu .dropdown {
  position: absolute;
  top: 60px;
  width: 270px;
  border-radius: 5px;
  background-color: #1e725d;
  -webkit-box-shadow: 0 2px 15px -3px rgb(21, 6, 5);
  -moz-box-shadow: 0 2px 15px -3px rgb(21, 6, 5);
  box-shadow: 0 2px 15px -3px rgb(21, 6, 5);
}
header .header-menu .dropdown .dropdown-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 20px;
  transition: 0.3s ease;
}
header .header-menu .dropdown .dropdown-item:hover {
  background-color: #165b4a;
  color: #ffffff;
}
header .header-menu .ri-menu-line, header .header-menu .ri-close-line {
  font-size: 0.8em;
}
header .header-menu:hover {
  cursor: pointer;
}
header .favorites-btn {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.2s ease;
  color: #c5c5c5;
}
header .favorites-btn:hover {
  color: #ececec;
}
header a {
  text-decoration: none;
  color: #ececec;
}

.shop-items {
  margin-top: 67px;
  height: calc(100vh - 67px);
  padding: 30px 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 45vh;
  grid-gap: 30px;
  overflow-y: scroll;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.shop-items .item-container {
  border-radius: 10px;
  position: relative;
}
.shop-items .item-container .item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.shop-items .item-container .item-bar {
  display: flex;
  align-items: center;
  background-color: #ececec;
  height: 25%;
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: 0.3s ease;
}
.shop-items .item-container .item-bar .ratings {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.shop-items .item-container .item-bar.disabled {
  bottom: 10%;
  opacity: 0;
}
.shop-items .item-container .item-bar .icon-box {
  margin: 0 20px 0 auto;
  background-color: #1e725d;
  color: #ececec;
  font-size: 1.7rem;
  padding: 2px 15px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s ease;
}
.shop-items .item-container .item-bar .icon-box.disabled {
  opacity: 0;
}
.shop-items .item-container .item-bar .icon-box:hover {
  background-color: #165b4a;
  transition: 0s;
}

.favorites-page {
  margin-top: 67px;
  height: calc(100vh - 67px);
  padding: 30px 300px;
  overflow-y: scroll;
}
.favorites-page .favorites-page-title {
  text-align: center;
}
.favorites-page .favorite-movie-item {
  margin: 20px 0;
  padding: 0 40px;
  display: flex;
  align-items: center;
}
.favorites-page .favorite-movie-item img {
  border-radius: 5px;
}
.favorites-page .favorite-movie-item .movie-info {
  margin-left: 20px;
}
.favorites-page .favorite-movie-item .movie-info .name {
  font-size: 25px;
  margin-bottom: 10px;
}
.favorites-page .favorite-movie-item .movie-info .year-genres {
  font-size: 16px;
  font-weight: 200;
}
.favorites-page .favorite-movie-item .favorite-movie-btns {
  margin-left: auto;
  display: flex;
  gap: 20px;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.favorites-page .favorite-movie-item .favorite-movie-btns .kinopoisk-link-btn {
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  color: #27272b;
  border: 1px solid;
  border-radius: 5px;
  transition: 0.2s ease;
}
.favorites-page .favorite-movie-item .favorite-movie-btns .kinopoisk-link-btn:hover {
  background-color: #ffffff;
}
.favorites-page .favorite-movie-item .favorite-movie-btns .delete-btn {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 10px 20px;
  font-size: 16px;
  color: #27272b;
  gap: 7px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 5px;
  transition: 0.2s ease;
}
.favorites-page .favorite-movie-item .favorite-movie-btns .delete-btn:hover {
  background-color: #ffffff;
}
.favorites-page .favorite-movie-item .favorite-movie-btns .delete-btn .ri-delete-bin-line, .favorites-page .favorite-movie-item .favorite-movie-btns .delete-btn .ri-delete-bin-fill {
  font-size: 1.3em;
}

/*# sourceMappingURL=index.css.map */
