@import "src/styles/variables";

.searchBar {
    padding: 0 15px;
    background-color: $white;
    color: $gray;
    border-radius: 5px;
    height: 50%;
    display: flex;
    align-items: center;

    input {
        margin: 0 10px;
        border: none;
        background-color: $white;
        outline: none;
        width: 200px;
        height: 80%;

        @media (max-width: 600px) {
            width: 50vw;
        }
    }

    .cancelIcon {
        border-radius: 5px;

        &:hover {
            background-color: $light-gray;
            cursor: pointer;
        }
    }
}

